.bar {
  min-height: 50px;
  width: 100%;
  background-color: #222;
  position: fixed;
  z-index: 9999;
  display: flex;
  justify-content: flex-end;
  color: #ffd800;
}

[role='button'],
input[type='submit'],
input[type='reset'],
input[type='button'],
button {
  background-color: transparent;
  border: 0;
  height: 2.5em;
  line-height: 2.5;
  margin: 0.25em;
  padding: 0 1em;
  width: 14em;
}

.importexport-panel {
  display: flex;
  flex-direction: column;

  textarea {
    min-height: 300px;
    background-color: #ccc;
  }

  button {
    border: 1px solid #999;
  }

  .actions {
    display: flex;
    flex-direction: row;
  }
}
