.task-node {
  position: relative;
  background-color: #555;
  width: 100px;
  height: 100px;

  .title {
    margin-top: 10px;
    display: block;
    text-align: center;
    color: #ffd800;
    .level {
      font-size: 11px;
    }
  }

  .addButton {
    display: none;
  }

  .port {
    position: absolute;
    cursor: pointer;

    &[data-name='right'] {
      right: -10px;
      top: 50%;
      transform: translateY(-50%);
    }
    &[data-name='bottom'] {
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
    }
    &[data-name='left'] {
      left: -10px;
      top: 50%;
      transform: translateY(-50%);
    }
    &[data-name='top'] {
      top: -10px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  svg {
    fill: #ffd800;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translateX(-50%) translateY(-50%);
    height: 40%;
    width: 40%;
  }

  &:hover .addButton {
    position: absolute;
    top: -2px;
    right: -35px;
    width: 33px;
    height: 33px;
    color: #ffd800;
    background-color: #888;
    display: flex;
    opacity: 0.2;
    cursor: pointer;
    justify-content: center;
    align-items: center;

    &:hover {
      opacity: 0.7;
    }
  }
}
